.center {
  text-align: center;
}

h1 {
  background-image: linear-gradient(to right, #ffffff, #ff0000);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
