/* font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, $color-white, $color-grey);
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 2px;
  color: transparent;
  transition: all 0.2s;
  text-shadow: 0.5rem 1rem 2rem rgba($color-white, 0.5); */

.center {
  text-align: center;
}

h1 {
  background-image: linear-gradient(to right, #ffffff, #ff0000);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
