#pageNotFound {
  background-image: url("../../assets/images/sinking-boat.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.row {
  height: 90vh;
}

#message {
  border: 3px solid red;
  opacity: 0.8;
  border-radius: 10px;
}
