<section id="news">
  <app-header>News</app-header>

  <div class="container-fluid bg-dark text-white http-section">
    <div class="row">
      <div class="col-lg-4 pb-3" *ngFor="let elem of covidInfo">
        <h5>Covid 19 Info</h5>
        <table class="table">
          <tbody>
            <tr>
              <th>Population</th>
              <td>{{ elem.population }}</td>
            </tr>
            <tr>
              <th>Active Cases</th>
              <td>{{ elem.active }}</td>
            </tr>
            <tr>
              <th>Todays Cases</th>
              <td>{{ elem.todayCases }}</td>
            </tr>
            <tr>
              <th>Todays Recovered</th>
              <td>{{ elem.todayRecovered }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4 pb-3" *ngFor="let weather of weatherData">
        <h5>Auckland Weather</h5>
        <table class="table">
          <tbody>
            <tr>
              <th>Temperature</th>
              <td>{{ weather.main.temp | number: "1.0-0" }} &#8451;</td>
            </tr>
            <tr>
              <th>Conditions</th>
              <td>{{ weather.weather[0].main }}</td>
            </tr>
            <tr>
              <th>Wind Speed</th>
              <td>{{ weather.wind.speed | convert }} km/h</td>
            </tr>
            <tr>
              <th>Wind Direction</th>
              <td>{{ weather.wind.deg | compass }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4 pb-3">
        <h5>Competition Votes</h5>
        <table class="table">
          <tbody>
            <tr>
              <th>New Zealand</th>
              <td>{{ nz }}</td>
            </tr>
            <tr>
              <th>UK</th>
              <td>{{ uk }}</td>
            </tr>
            <tr>
              <th>Italy</th>
              <td>{{ italy }}</td>
            </tr>
            <tr>
              <th>USA</th>
              <td>{{ usa }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-dark card-section py-5">
    <div class="row mx-auto justify-content-center" id="card-row">
      <div class="card-group">
        <div
          class="col-lg-4 col-sm-6 py-3"
          align="center"
          *ngFor="let news of newsListArray; let i = index"
        >
          <div class="card">
            <img
              [src]="news.image"
              class="card-img-top"
              alt="{{ news.title }}"
            />
            <div class="card-header">
              <h4>{{ news.title }}</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                {{ news.text }}
              </p>
            </div>
            <div
              class="card-footer"
              [class]="
                i % 2 == 0 ? 'bg-dark text-white' : 'bg-danger text-white'
              "
            >
              <p class="muted pb-0 mb-0 text-end">{{ news.author }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
