<section id="news">
  <div class="container-fluid">
    <div class="row mx-auto justify-content-center">
      <div class="card-group">
        <div
          class="col-lg-4 col-sm-6 py-3"
          align="center"
          *ngFor="let news of newsList"
        >
          <div class="card">
            <img [src]="news.image" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ news.title }}</h5>
              <p class="card-text">
                {{ news.text }}
              </p>
              <small>{{ news.author }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
