<section id="competition bg-dark">
  <app-header>Competition </app-header>
  <div class="container-fluid bg-dark">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="row">
          <img
            src="../../assets/images/uk-boat3.jpg"
            alt="uk sail boat ac75"
            class="img-fluid"
          />
        </div>
        <div class="row">
          <img
            src="../../assets/images/new-zealand-boat2.jpg"
            alt="new zealand sail boat ac75"
            class="img-fluid"
          />
        </div>
        <div class="row">
          <img
            src="../../assets/images/italy2-boat.jpg"
            alt="italy sail boat ac75"
            class="img-fluid"
          />
        </div>
      </div>
      <!-- form2 -->
      <div class="col-md-6 text-white px-5">
        <p class="text-center competition-warning">
          Only logged in users votes will be counted
        </p>
        <form (ngSubmit)="onSaveForm(entryForm)" #entryForm="ngForm">
          <div class="form-group">
            <label for="name" class="bold">Name</label>
            <input
              id="name"
              type="text"
              class="form-control bg-contrast"
              placeholder="Full Name"
              required
              ngModel
              name="name"
              required
              #nameRef="ngModel"
            />
            <div *ngIf="!nameRef.value && nameRef.touched">
              <small class="text-danger">Please enter a name</small>
            </div>
          </div>

          <label for="contact_email" class="bold mb-0">Email address</label>
          <small
            id="emailHelp"
            class="form-text text-secondary mt-0 mb-2 italic"
            >We'll never share your email with anyone else.</small
          >
          <div class="form-group">
            <div class="input-group">
              <input
                type="email"
                name="email"
                id="contact_email"
                class="form-control bg-contrast"
                placeholder="Valid Email"
                required
                ngModel
                #emailRef="ngModel"
              />
            </div>
            <div *ngIf="!emailRef.value && emailRef.touched">
              <small class="text-danger">Please enter a valid email</small>
            </div>
          </div>

          <div class="form-group">
            <label for="contact_subject" class="bold">Phone</label>
            <input
              type="text"
              name="phone"
              id="contact_subject"
              class="form-control bg-contrast"
              placeholder="Phone"
              ngModel
            />
          </div>

          <div class="form-group">
            <label for="winnerChoice">Who will win?</label
            ><select
              ngModel
              name="winnerChoice"
              id="winnerChoice"
              class="form-control"
              required
              #winnerRef="ngModel"
            >
              <option value="" disabled selected hidden>Choose a Winner</option>
              <option [value]="winner" *ngFor="let winner of winnersList">
                {{ winner }}
              </option>
            </select>
            <div *ngIf="!winnerRef.value && winnerRef.touched">
              <small class="text-danger">Please enter a Team</small>
            </div>
          </div>

          <div class="form-group">
            <label for="message" class="bold">Message</label>
            <textarea
              id="message"
              name="message"
              class="form-control bg-contrast"
              placeholder="Feel free to leave a message"
              rows="5"
              ngModel
            ></textarea>
          </div>

          <div class="form-group">
            <div class="d-grid gap-2 text-center">
              <button
                class="btn btn-outline-danger btn-rounded text-white"
                [disabled]="!entryForm.valid"
              >
                Enter Competition
              </button>
            </div>
          </div>
        </form>

        <div *ngIf="displayMessage" class="text-center">
          <p>Thank You for entering the competition</p>
          <p>See all votes in the News section</p>
        </div>
      </div>
      <div class="col-lg-3 d-none d-lg-block">
        <div class="row">
          <img
            src="../../assets/images/americas-bow.jpg"
            alt="uk sail boat ac75"
            class="img-fluid"
          />
        </div>
        <div class="row">
          <img
            src="../../assets/images/italy3-boat.jpg"
            alt="italy sail boat ac75"
            class="img-fluid"
          />
        </div>
        <div class="row">
          <img
            src="../../assets/images/american-boat.jpg"
            alt="american sail boat ac75"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
