<section id="competition bg-dark">
  <h1 class="text-center pt-4 bg-dark mb-0 text-white">Competition</h1>
  <div class="container-fluid py-5 bg-dark">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <img
            src="https://americascup-2021.s3.amazonaws.com/images/m157_crop169014_1024x576_proportional_1534495960141A.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="row">
          <img
            src="https://e0.365dm.com/20/11/2048x1152/skysports-americas-cup-sailing_5189913.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <!-- form2 -->
      <div class="col-md-6 text-white px-5">
        <form (ngSubmit)="onSaveForm(entryForm)" #entryForm="ngForm">
          <div class="form-group">
            <label for="name" class="bold">Name</label>
            <input
              type="text"
              class="form-control bg-contrast"
              placeholder="Full Name"
              required
              ngModel
              name="name"
              required
              #nameRef="ngModel"
            />
            <div *ngIf="!nameRef.value && nameRef.touched">
              <small class="text-danger">Please enter a name</small>
            </div>
          </div>

          <label for="contact_email" class="bold mb-0">Email address</label>
          <small
            id="emailHelp"
            class="form-text text-secondary mt-0 mb-2 italic"
            >We'll never share your email with anyone else.</small
          >
          <div class="form-group">
            <div class="input-group">
              <input
                type="email"
                name="email"
                id="contact_email"
                class="form-control bg-contrast"
                placeholder="Valid Email"
                required
                ngModel
                #emailRef="ngModel"
              />
            </div>
            <div *ngIf="!emailRef.value && emailRef.touched">
              <small class="text-danger">Please enter a valid email</small>
            </div>
          </div>

          <div class="form-group">
            <label for="phone" class="bold">Phone</label>
            <input
              type="text"
              name="phone"
              id="contact_subject"
              class="form-control bg-contrast"
              placeholder="Phone"
              ngModel
            />
          </div>

          <div class="form-group">
            <label for="winnerChoice">Who will win?</label
            ><select
              ngModel
              name="winnerChoice"
              id="winnerChoice"
              class="form-control"
              required
              #winnerRef="ngModel"
            >
              <option value="" disabled selected hidden>Choose a Winner</option>
              <option [value]="winner" *ngFor="let winner of winnersList">
                {{ winner }}
              </option>
            </select>
            <div *ngIf="!winnerRef.value && winnerRef.touched">
              <small class="text-danger">Please enter a Team</small>
            </div>
          </div>

          <div class="form-group">
            <label for="message" class="bold">Message</label>
            <textarea
              name="message"
              class="form-control bg-contrast"
              placeholder="Why will your team win?"
              rows="5"
              ngModel
            ></textarea>
          </div>

          <div class="form-group">
            <div class="d-grid gap-2">
              <button
                class="btn btn-outline-danger btn-rounded text-white"
                [disabled]="!entryForm.valid"
              >
                Enter Competition
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
