.row {
  height: 50vh;
}

.team1 {
  background-image: url(../../assets/images/italian-boat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team2 {
  background-image: url(../../assets/images/uk-boat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team3 {
  background-image: url(../../assets/images/new-zealand-boat2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team4 {
  background-image: url(../../assets/images/american-boat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: #777373;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
  border-bottom: 1px solid #ff0000;
}
