.row {
  height: 50vh;
  position: relative;
}

.team1 {
  background-image: url(../../assets/images/italian-boat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team2 {
  background-image: url(../../assets/images/uk-boat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team3 {
  background-image: url(../../assets/images/new-zealand-boat2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team4 {
  background-image: url(../../assets/images/american-boat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: #777373;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  transition: 0.5s;
}

a:hover {
  color: #ff0000;
  border-bottom: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
  /* background-color: #ff0000; */
}
