<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 team1 img-fluid">
        <a [routerLink]="['/teams', 1, 'Italy']" class="text-dark">Italy</a>
      </div>
      <div class="col-md-6 team2 img-fluid">
        <a [routerLink]="['/teams', 2, 'UK']" class="text-dark">UK</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 team3 img-fluid">
        <a [routerLink]="['/teams', 0, 'New-Zealand']" class="text-dark"
          >New Zealand</a
        >
      </div>
      <div class="col-md-6 team4 img-fluid">
        <a [routerLink]="['/teams', 3, 'USA']" class="text-dark">USA</a>
      </div>
    </div>
  </div>
</section>
