<section>
  <app-header>Teams</app-header>
  <div class="container-fluid bg-dark">
    <div class="row">
      <div class="col-md-6 team1 img-fluid">
        <a [routerLink]="['/teams', 1, 'Italy']">Italy</a>
      </div>
      <div class="col-md-6 team2 img-fluid">
        <a [routerLink]="['/teams', 2, 'UK']">UK</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 team3 img-fluid">
        <a [routerLink]="['/teams', 0, 'New-Zealand']">New Zealand</a>
      </div>
      <div class="col-md-6 team4 img-fluid">
        <a [routerLink]="['/teams', 3, 'USA']">USA</a>
      </div>
    </div>
  </div>
</section>
