<section id="team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 p-0 rowboat">
        <img [src]="displayBoat.imagePath" class="img-fluid" alt="" />
      </div>
      <div class="col-md-5 bg-dark text-white">
        <p>Country: {{ displayBoat.country }}</p>
        <p>Boat Name: {{ displayBoat.name }}</p>
        <p>Official Name:</p>
        <p>Skipper:</p>
        <p>Helmsman:</p>
        <p>Sponsors:</p>
      </div>
    </div>
    <div class="row bg-dark py-2">
      <div class="col-md-6 col-md-offset">
        <div class="flag"></div>
      </div>
    </div>
  </div>
</section>
