<section id="team">
  <app-header>{{ displayBoat.name }}</app-header>
  <div class="container-fluid pt-3 bg-dark">
    <div class="row">
      <div class="col-md-7 p-0 rowboat">
        <img [src]="displayBoat.imagePath" class="img-fluid" alt="" />
      </div>
      <div class="col-md-5 bg-dark text-white text-center">
        <p class="country">
          Country: <span>{{ displayBoat.country }}</span>
        </p>
        <p>
          Boat Name: <span>{{ displayBoat.name }}</span>
        </p>
        <p>
          Official Name: <span>{{ displayBoat.officialName }}</span>
        </p>
        <p>
          Skipper: <span>{{ displayBoat.skipper }}</span>
        </p>
        <p>
          Helmsman: <span>{{ displayBoat.helmsman }}</span>
        </p>
        <p>
          Sponsors: <span>{{ displayBoat.sponsors }}</span>
        </p>
      </div>
    </div>
    <div class="row bg-dark py-2">
      <div class="col-md-6 col-md-offset" align="center">
        <div class="mx-auto">
          <img [src]="displayBoat.flag" alt="flag" class="flag" />
        </div>
      </div>
    </div>
  </div>
</section>
