.rowboat {
  height: 70vh;
}

.img-fluid {
  height: inherit;
}

@media (max-width: 768px) {
  .img-fluid {
    height: auto;
  }
  .rowboat {
    height: auto;
  }
}

.flag {
  background-image: url(../../assets/images/italyFlag.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vh;
}
