<section id="team">
  <app-header>{{ displayBoat.name }}</app-header>
  <div class="container-fluid pt-3 bg-dark">
    <div class="row">
      <div class="col-md-7 p-0 rowboat">
        <img
          [src]="displayBoat.imagePath"
          class="img-fluid"
          alt="racing boats"
        />
      </div>
      <div class="col-md-5 bg-dark text-white text-center">
        <table class="table">
          <tbody>
            <tr>
              <th>Country</th>
              <td>{{ displayBoat.country }}</td>
            </tr>
            <tr>
              <th>Boat Name</th>
              <td>{{ displayBoat.name }}</td>
            </tr>
            <tr>
              <th>Official Name</th>
              <td>{{ displayBoat.officialName }}</td>
            </tr>
            <tr>
              <th>Skipper</th>
              <td>{{ displayBoat.skipper }}</td>
            </tr>
            <tr>
              <th>Helmsman</th>
              <td>{{ displayBoat.helmsman }}</td>
            </tr>
            <tr>
              <th>Sponsors</th>
              <td>{{ displayBoat.sponsors }}</td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="mx-auto">
          <img [src]="displayBoat.flag" alt="flag" class="flag pt-3" />
        </div>
      </div>
    </div>
    <div class="row bg-dark py-2">
      <div class="col-md-6 col-md-offset" align="center">
        <!-- <div class="mx-auto">
          <img [src]="displayBoat.flag" alt="flag" class="flag" />
        </div> -->
      </div>
    </div>
  </div>
</section>
