#grid-area {
  width: 90%;
  margin: auto;
}

.grid {
  display: grid;
  height: 2500px;
  margin: auto;
  grid-template: repeat(25, 1fr) / repeat(12, 1fr);
}

.a {
  grid-area: 1 / 3 / 6 / 12;
  background-image: url(../../assets/images/americas-bow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
}

.b {
  grid-area: 5 / 1 / 9 / 7;
  background-image: url(../../assets/images/launch2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  transition: all 0.5s;
}

.c {
  grid-area: 8 / 3 / 12 / 11;
  background-image: url(../../assets/images/trophy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  transition: all 0.5s;
}

.d {
  grid-area: 11 / 2 / 16 / 9;
  background-image: url(../../assets/images/uk-boat2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  transition: all 0.5s;
}

.e {
  grid-area: 15 / 4 / 20 / 12;
  background-image: url(../../assets/images/launch.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transition: all 0.5s;
}

.f {
  grid-area: 19 / 1 / 26 / 11;
  background-image: url(../../assets/images/italy3-boat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: all 0.5s;
}

/* media query */
@media (max-width: 600px) {
  #grid-area {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .a {
    grid-area: 1 / 1 / 5 / 13;
  }
  .b {
    grid-area: 5 / 1 / 9 / 13;
  }
  .c {
    grid-area: 9 / 1 / 13 / 13;
  }
  .d {
    grid-area: 13 / 1 / 17 / 13;
    background-position: center;
  }
  .e {
    grid-area: 17 / 1 / 21 / 13;
  }
  .f {
    grid-area: 21 / 1 / 25 / 13;
  }
}

.a:hover,
.b:hover,
.c:hover,
.d:hover,
.e:hover {
  transform: scale(1.05);
  z-index: 20;
}

.f:hover {
  transform: scale(1.05);
  z-index: 20;
  margin-bottom: 20px;
}

/* @media only screen and (max-width: 767px) {
  .shrink-me {
    font-size: 16px;
  }
} */
