<div id="grid-area">
  <div>
    <h1 class="text-center my-3 fw-bold">Welcome to the 36th Presidents cup</h1>
  </div>
  <div class="grid">
    <div class="box a"></div>
    <h3 class="box a-main">Grid A Heading</h3>
    <div class="box b"></div>
    <h3 class="box b-main">Grid B Heading</h3>
    <div class="box c"></div>
    <h3 class="box c-main">Grid C Heading</h3>
    <div class="box d"></div>
    <h3 class="box d-main">Grid D Heading</h3>
    <div class="box e"></div>
    <h3 class="box e-main">Grid E Heading</h3>
    <div class="box f"></div>
    <h3 class="box f-main">Grid F Heading</h3>
  </div>
</div>
