#grid-area {
  width: 90%;
  margin: auto;
}

.grid {
  display: grid;
  width: 900px;
  height: 3000px;
  margin: auto;
  grid-template: repeat(30, 1fr) / repeat(12, 1fr);
}

.a {
  grid-area: 1 / 3 / 6 / 14;
  background-color: green;
}

.b {
  grid-area: 5 / 1 / 9 / 7;
  background-color: grey;
}

.c {
  grid-area: 8 / 3 / 12 / 14;
  background-color: hotpink;
}

.d {
  grid-area: 11 / 2 / 16 / 8;
  background-color: lawngreen;
}

.e {
  grid-area: 15 / 3 / 19 / 14;
  background-color: blue;
}

.f {
  grid-area: 18 / 1 / 25 / 12;
  background-color: darkgoldenrod;
}
