#grid-area {
  width: 90%;
  margin: auto;
}

.grid {
  display: grid;
  width: 900px;
  height: 3000px;
  margin: auto;
  grid-template: repeat(30, 1fr) / repeat(12, 1fr);
}

.a {
  grid-area: 1 / 3 / 6 / 12;
  background-color: green;
}
.a-main {
  grid-area: 2 / 2 / 3 / 5;
}

.b {
  grid-area: 5 / 1 / 9 / 7;
  background-color: grey;
  z-index: 1;
}
.b-main {
  grid-area: 7 / 6 / 9 / 10;
  z-index: 2;
}

.c {
  grid-area: 8 / 3 / 12 / 11;
  background-color: hotpink;
  z-index: 2;
}
.c-main {
  grid-area: 10 / 2 / 12 / 5;
  z-index: 3;
}

.d {
  grid-area: 11 / 2 / 16 / 8;
  background-color: lawngreen;
}
.d-main {
  grid-area: 13 / 8 / 15 / 12;
}

.e {
  grid-area: 15 / 3 / 19 / 12;
  background-color: blue;
}
.e-main {
  grid-area: 17 / 1 / 18 / 5;
}

.f {
  grid-area: 18 / 1 / 25 / 11;
  background-color: darkgoldenrod;
}
.f-main {
  grid-area: 20 / 9 / 22 / 12;
}
